.bill {
  border: 1px solid black;
  display: flex;
  margin-bottom: 5px;
}

.bill-data {
  width: 50%;
  flex: 1;
  padding: 10px;
}

.supported-bill,
.unsupported-bill {
  background-color: var(--dark-gray);
  width: 50%;
  flex: 1;
  text-align: center;
}
